h1 {
  text-align: center;
}

.introcontainer {
   border: 2px solid red;
   background-color: white;
   padding: 20px;
   margin: 20px;
   object-fit: contain;
   text-align: left;
   overflow:hidden;
}

.formcontainer {
   border: 2px solid red;
   background-color: white;
   padding: 12px;
   margin: 20px;
   object-fit: contain;
}

.ital {
  font-style: italic;
}
.hideoverflow{
  float: right;
  overflow:hidden;
}

.iimg {
  max-width: 20%;
  max-height: 20%
  object-fit: cover;
  float: right;
}
