h1 {
  text-align: center;
}
h2 {
  text-align: center;
}
body {
  background-color: #d4af37;
  background-image: url(../pictures/akan-bg.jpg);
}
div {
  margin: auto;
  border: 2px solid red;
  margin-top: 2em;
  width: 60%;
  background-color: rgba(255,255,255, 0.86);
}

.introcontainer {
   padding: 30px;
   object-fit: contain;
   overflow-x: hidden;
}

.expcontainer {
   padding: 20px;
   object-fit: contain;
   text-align: left;
   overflow:hidden;
}

.formcontainer {
   padding: 12px;
   object-fit: contain;
}

.ital {
  font-style: italic;
}
.hideoverflow{
  float: right;
  overflow:hidden;
}

.iimg {
  max-width: 20%;
  max-height: 20%;
  object-fit: cover;
  float: right;
  padding: 2px;
}
